body {
    font-family: Arial;
    text-align: center;
    color: white;
    margin: 0;
    background: linear-gradient(135deg, #1a2a6c, #b21f1f, #fdbb2d);
}

.section {
    display: none;
}

/* CARD */
.card {
    display: inline-block;
    width: 140px;
    height: 200px;
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
    color: black;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.1);
}

.rating {
    font-size: 30px;
    font-weight: bold;
}

/* RARITY */
.bronze {
    background: linear-gradient(135deg, #cd7f32, #a97142);
}

.silver {
    background: linear-gradient(135deg, #c0c0c0, #e0e0e0);
}

.gold {
    background: linear-gradient(135deg, gold, orange);
}

/* ANIMATION */
.reveal {
    animation: flip 0.6s;
}

@keyframes flip {
    from { transform: rotateY(90deg); }
    to { transform: rotateY(0); }
}
