body {
  margin: 0;
  font-family: Arial;
  background: url('./bg.png') no-repeat center center fixed;
  background-size: cover;
  color: white;
}

/* overlay */
body::before {
  content:"";
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.6);
  z-index:-1;
}

#menu {
  text-align:center;
  padding:20px;
}

button {
  padding:10px;
  margin:5px;
  border:none;
  border-radius:8px;
  cursor:pointer;
  background:#00ffc3;
  font-weight:bold;
}

.section {
  display:none;
  padding:20px;
  text-align:center;
}

.card {
  display:inline-block;
  background:linear-gradient(135deg,gold,orange);
  color:black;
  margin:10px;
  padding:15px;
  border-radius:12px;
  width:200px;
}

.card.low { border:3px solid red; }
.card.medium { border:3px solid yellow; }
.card.high { border:3px solid lime; }

#answers button {
  display:block;
  margin:10px auto;
  width:200px;
}
